<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myController">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
		
		<div class="button-row clearfix">
			<div class="col-md-3">
				<button ng-click="filters(filter1)" class="btn btn-default btn-lg btn-block">Top rated</button>
			</div>
			<div class="col-md-3">
				<button ng-click="filters(filter2)" class="btn btn-default btn-lg btn-block">Lowest rated</button>
			</div>
			<div class="col-md-3">
				<button ng-click="filters(filter3)" class="btn btn-default btn-lg btn-block">Future releases</button>
			</div>
			<div class="col-md-3">
				<button ng-click="filters(filter4)" class="btn btn-default btn-lg btn-block">Most popular</button>
			</div>
		</div>
		
		<ul class="movie-list list-unstyled clearfix">
			<li class="col-md-3" ng-repeat="movie in movies.results" ng-click="moviePage(movie.id)">
				<div class="movie-block">
					
					<!-- If backdrop available -->
					<div ng-if="movie.backdrop_path" class="img-wrapper" style="background-image: url(https://image.tmdb.org/t/p/w300/{{movie.backdrop_path}});"></div>
					
					<!-- If backdrop not available (show poster) -->
					<div ng-if="!movie.backdrop_path" class="img-wrapper background-top" style="background-image: url(https://image.tmdb.org/t/p/w300/{{movie.poster_path}});"></div>
					
					<div class="content-wrapper">
						<h4>{{movie.title}}</h4>
						<small>{{movie.release_date}}</small>
						<div><strong>Score: </strong>{{movie.vote_average}}</div>
					</div>
					
				</div>
			</li>
		</ul>
		
		<div class="movie-page img-wrapper" ng-show="moviePageTrue" style="background-image: url(https://image.tmdb.org/t/p/w1000/{{movieData.backdrop_path}});">
			
			<button class="btn btn-default back-to-filters" ng-click="hideMoviePage()">Back to filters</button>
			
			<div class="content-wrapper">
				<h1>
					{{movieData.title}}
				</h1>
				<h3>
					{{movieData.tagline}}
				</h3>
				<p>
					{{movieData.overview}}
				</p>
			</div>
		</div>
	
		<button class="btn btn-default" ng-click="triggerMoviesJson = !triggerMoviesJson">Movies Json</button>
		<pre ng-show="triggerMoviesJson">{{ movies | json:4 }}</pre>
		
		<button class="btn btn-default" ng-click="triggerMoviesDataJson = !triggerMoviesDataJson">Movie Data Json</button>
		<pre ng-show="triggerMoviesDataJson">{{ movieData | json:4 }}</pre>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.2/angular.min.js"></script>
	<!--<script src="/js/bootstrap.min.js"></script>-->
	<script src="/js/main.js"></script>
	
  </body>
</html>